@import "__constatnt.scss";

.categorys-slyder{
    padding: 100px 0px 50px 0px;
    .category__slide__item{
        button {
            margin: 10px 0px 10px 10px;
            width: 195px;
            height: 164px;
            border-radius:25px;
            background-color:$grey;
            border:none;
            border-bottom: $blue 5px solid ;
            text-transform: uppercase;
            a {
                font-size: 14px;
                text-decoration: none;
                color:black;
            
                img {
                    margin-bottom: 15px;
                }
            }
        }
        #top-border {
            border-bottom:none;
            border-top:$blue 5px solid;
        }
    }
}



