@import "__constatnt.scss";


.decors{
    .background1 {
        position: relative;
        top: 3px;
        left: 600px;
        
    }
    .background2 {
        position: relative;
        right: 250px;
        bottom: 40px;
    }
    .background3 {
        position: relative;
        bottom: 465px;
        right: 120px;
    }
    .background4 {
        position: relative;
        bottom: 473px;
        left: 907px;
    }
}
