@import '__constatnt.scss';

.products{
    background-color:$background;
    .btn-product {
        position: relative;
        bottom: 70px;
        border-radius:20px;
        width: 250px;
        height: 305px;
        border:none;
        margin: 0px 25px 0px 25px;
        span {
            width: 182px;
            height: 182px;
            border-radius:100px;
            background-color:$blue;
            display: block;
            position: relative;
            bottom:100px;
            left: 35px;
            img {
                margin-top: 30px;    
            }
        }
        

        p {
            height: 30px;
            text-transform: uppercase;
            color:$blue;
            font-size: 24px;
            position: relative;
            bottom: 50px;
        }
        a {
            display: block;
            position: relative;
            width: 207px;
            border-radius:20px;
            color:$background;
            background-color:$pink;
            border:none;
            text-transform: uppercase;
            text-decoration: none;
            margin-left: 20px;
            padding: 30px 0px 30px 0px;
            font-size: 14px;
            bottom: 10px;
            &:hover {
                box-shadow: 5px 5px $blue;
            }
        }
    }
    #decor-blue1 {
        height: 155px;
        background-color:$blue;
        margin: 270px 0px 0px 0px;
    }
    #decor-blue2 {
        height: 155px;
        background-color:$blue;
        margin: 270px 0px 0px 0px;
    }
}